.container{
    padding:3em 0;
}
.navbar{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 70px auto;
    transition: 0.24s;
    position: relative;
    background: #98c427 url('IMG_7180.PNG');
    background-size:150px 150px;
}
.navbar:hover{
    opacity: 0.6;
    filter: alpha(opacity=50);
}
.navbar .menu{
    list-style: none;
    position: absolute;
    top:-175px;
    left: -95px;
    margin: 0;
    padding: 0;
    border:150px solid transparent;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s;
}

.navbar:hover .menu{
    transition: transform 0.4s;
    transform: scale(1);
    z-index: 1;
}
.navbar .menu li{
    position: absolute;
    top: 0px;
    left: -80px;
    transform-origin: 100px 100px;
    transition: all 0.5s;
}
.navbar .menu li a{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background: #98c427;
    color: #fff;
    font-size: 70%;
    position: absolute;
    transition: 0.6s;
}
.navbar:hover .menu li:nth-child(1){
    transition-delay: 0.02s;
    transform: rotate(85deg);
}
.navbar:hover .menu li:nth-child(1) a{
    transition-delay: 0.04s;
    transform: rotate(635deg);
}
.navbar:hover .menu li:nth-child(2){
    transition-delay: 0.04s;
    transform: rotate(125deg);
}
.navbar:hover .menu li:nth-child(2) a{
    transition-delay: 0.08s;
    transform: rotate(595deg);
}
.navbar:hover .menu li:nth-child(3){
    transition-delay: 0.06s;
    transform: rotate(165deg);
}
.navbar:hover .menu li:nth-child(3) a{
    transition-delay: 0.12s;
    transform: rotate(555deg);
}
.navbar:hover .menu li:nth-child(4){
    transition-delay: 0.08s;
    transform: rotate(205deg);
}
.navbar:hover .menu li:nth-child(4) a{
    transition-delay: 0.16s;
    transform: rotate(515deg);
}
.navbar:hover .menu li:nth-child(5){
    transition-delay: 0.1s;
    transform: rotate(245deg);
}
.navbar:hover .menu li:nth-child(5) a{
    transition-delay: 0.2s;
    transform: rotate(475deg);
}
.navbar:hover .menu li:nth-child(6){
    transition-delay: 0.12s;
    transform: rotate(285deg);
}
.navbar:hover .menu li:nth-child(6) a{
    transition-delay: 0.24s;
    transform: rotate(435deg);
}
.navbar:hover .menu li:nth-child(7){
    transition-delay: 0.14s;
    transform: rotate(325deg);
}
.navbar:hover .menu li:nth-child(7) a{
    transition-delay: 0.28s;
    transform: rotate(395deg);
}
.navbar:hover .menu li:nth-child(8){
    transition-delay: 0.16s;
    transform: rotate(365deg);
}
.navbar:hover .menu li:nth-child(8) a{
    transition-delay: 0.32s;
    transform: rotate(355deg);
}
.navbar:hover .menu li:nth-child(9){
    transition-delay: 0.18s;
    transform: rotate(405deg);
}
.navbar:hover .menu li:nth-child(9) a{
    transition-delay: 0.36s;
    transform: rotate(315deg);
}