body{
    background-color:#eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.height{
    height: 100vh;
}


.search{
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
    height: 60px;
    text-indent: 25px;
}


.search input:focus{

    box-shadow: none;
    border: 2px solid blue;


}

.search .fa-search{


    top: 20px;
    left: 16px;

}

.search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
}

.sidebar-left {
    width: 200px;
    height: 100%;
    background-color:#eee;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflowY: 'auto';
}


.sidebar-right {
    width: 200px;
    height: 100vh;
    background-color: #f8f9fa;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
}

.sidebar-right .content {
    padding: 20px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.dropdown-button {
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    border: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-button i {
    margin-left: 0.5rem;
}

.dropdown-options {
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.dropdown-options p {
    margin-right: 1rem;
}

.clear-button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    cursor: pointer;
}


.pagination-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espaçamento inferior entre os botões e as empresas listadas */
}

/* Seletor da classe para o nome da empresa */
.company-name {
    font-size: 24px; /* Tamanho de fonte desejado */
    font-weight: bold; /* Se quiser deixar o texto em negrito */
}
